.gallery {
  background-color: #f6f6f6;
  border-radius: 25px;
  padding: 50px;
  margin: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 2.5rem;
  flex: 0 0 calc(33% - (20px * 2 / 3));
  cursor: pointer;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card h2 {
  position: absolute;
  bottom: 10px;
  left: 15px;
  color: white;
  font-size: 18px;
  z-index: 1;
}