.collapse {
  width: 100%;
}

.collapse-header {
  width: 100%;
  background-color: #ff6060;
  color: white;
  border: none;
  padding: 15px 20px;
  font-size: 24px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}

.collapse-content {
  background-color: #f6f6f6;
  padding: 20px;
  border-radius: 0 0 5px 5px;
  font-size: 18px;
}

.arrow {
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}

.arrow.open {
  transform: rotate(180deg);
}