.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px;
}

.logo {
  height: 47px;
}

.nav {
  display: flex;
  gap: 40px;
}

.nav a {
  text-decoration: none;
  color: #000;
  font-size: 24px;
}

.nav a.active {
  text-decoration: underline;
}