.footer {
  background-color: #000;
  color: #fff;
  padding: 60px 20px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.footer-logo {
  height: 40px;
}

.footer p {
  font-size: 24px;
  text-align: center;
}