.banner {
  height: 150px;
  background-size: cover;
  background-position: center;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 50px;
}

.banner h1 {
  color: white;
  font-size: 48px;
  position: relative;
  text-align: center;
  z-index: 1;
}

.banner::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 25px;
  z-index: 0;
}

@media (max-width: 720px) {
  .banner {
    height: 120px;
  }

  .banner h1 {
    font-size: 28px;
    padding: 0 10px;
  }
}

@media (max-width: 1024px) and (min-width: 721px) {
  .banner {
    height: 180px;
  }

  .banner h1 {
    font-size: 36px;
  }
}
